@charset "UTF-8";
/* reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* estilos de body */
.cuerpo {
  background-color: #FDFDFD;
  font-family: 'Inter', sans-serif;
  color: #4D4F51; }

/* header */
.navegacion {
  background-color: #fff;
  font-size: 1rem;
  color: #4D4F51;
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.25);
  position: fixed;
  width: 100vw;
  height: 4rem;
  left: 0;
  top: 0;
  z-index: 999; }
  .navegacion h3 {
    font-size: 1.5rem; }
  .navegacion #navbarNavAltMarkup {
    background-color: #fff; }

/*estilos del main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8E882;
  border-radius: .8rem;
  margin: 6.5rem 1.4rem 1.4rem 1.4rem;
  padding: 5rem; }
  main h1 {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 1rem; }
    main h1 span {
      display: block; }
  main h2 {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1rem; }
  main .btn {
    display: flex;
    justify-items: center;
    align-self: center;
    border-radius: 2rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: #fff;
    background-image: radial-gradient(at 45% 16%, #ffd0c2 0px, transparent 50%), radial-gradient(at 9% 96%, #b4eff4 0px, transparent 50%), radial-gradient(at 0% 50%, #ffdbde 0px, transparent 50%), radial-gradient(at 98% 58%, #f3c9db 0px, transparent 50%); }
    main .btn a {
      align-items: center;
      text-align: center;
      text-decoration: none; }
  main .imagen-hero {
    display: none; }
  main .imagen-hero-mobil {
    height: 2rem;
    margin-top: 2rem; }
    main .imagen-hero-mobil img {
      max-width: 20rem; }

/*proyectos*/
section {
  display: flex;
  flex-direction: column;
  align-items: center; }
  section .uxui {
    margin-top: 2rem;
    background-color: #F8E882;
    border-radius: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
    width: 27rem; }
    section .uxui .ux-ui-titulo {
      font-size: 1.2rem;
      font-weight: 600; }
    section .uxui .web-uxui {
      display: none; }
    section .uxui .mobile-uxui {
      max-height: 10rem;
      padding-left: 6rem; }
  section .web {
    margin-top: 2rem;
    background-color: #F8E882;
    border-radius: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
    width: 27rem; }
    section .web .web-titulo {
      margin-bottom: 1rem;
      font-size: 1.2rem;
      font-weight: 600; }
    section .web .web-web {
      display: none; }
    section .web .mobile-web {
      max-width: 20rem;
      padding-left: 2rem; }
  section .branding {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #F8E882;
    border-radius: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
    width: 27rem; }
    section .branding h2 {
      margin-bottom: 1rem;
      font-size: 1.2rem;
      font-weight: 600; }
    section .branding .mobile-branding {
      max-width: 20rem;
      padding-left: 8rem; }

/*estilos del footer*/
.pie {
  background-color: antiquewhite;
  height: 10rem;
  display: flex;
  flex-direction: row; }
  .pie p {
    font-size: 1rem;
    font-weight: bolder;
    text-align: start;
    margin: 2rem 3rem;
    padding-left: 1rem;
    padding-top: 3rem; }
    .pie p span {
      display: block; }
  .pie img {
    max-width: 3rem;
    max-height: 3rem;
    position: relative;
    top: 5rem;
    padding: 0.5rem; }

/* media queris */
@media (min-width: 700px) {
  /* estilos nuevos del main*/
  main {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 1.5fr 0.5fr 0.4fr;
    grid-template-areas: "h1 imagen-hero" "h2 imagen-hero" "btn imagen-hero";
    justify-content: flex-start;
    justify-items: flex-start; }
    main h1 {
      grid-area: h1;
      font-size: 5rem;
      text-align: start;
      margin-left: 0; }
    main .imagen-hero {
      grid-area: imagen-hero;
      display: inline; }
    main h2 {
      grid-area: h2;
      margin-left: 0;
      font-size: 1.5rem;
      text-align: start; }
    main .btn {
      grid-area: btn;
      align-items: auto; }
      main .btn a {
        font-size: 1.125rem; }
    main .imagen-hero-mobil {
      display: none; }
  /*Sección de proyectos*/
  section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: stretch;
    gap: 1.6rem;
    margin-top: 1rem;
    margin-right: 1.4rem; }
    section .uxui {
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 15.5rem;
      width: 20rem; }
      section .uxui .uxui-titulo {
        font-size: 1.5rem;
        font-weight: 300; }
      section .uxui .mobile-uxui {
        height: min-content;
        padding: 0; }
    section .web {
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 15.5rem;
      width: 20rem; }
      section .web .web-titulo {
        font-size: 1.5rem;
        font-weight: 300;
        padding-bottom: 2rem; }
        section .web .web-titulo .mobile-web {
          height: 35rem;
          padding: 0; }
    section .branding {
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 15.5rem;
      width: 20rem; }
      section .branding .branding-titulo {
        font-size: 1.5rem;
        font-weight: 300; }
        section .branding .branding-titulo .mobile-branding {
          height: 20rem; }
  /*footer home*/
  .pie {
    height: 15rem;
    width: 100vw; }
    .pie p {
      font-size: 1.125rem;
      margin: 3rem 4rem;
      padding-left: 2rem; }
    .pie img {
      max-width: 5rem;
      max-height: 5rem;
      position: relative;
      top: 7rem;
      left: 40rem; } }

/*estilos de página UX-UI*/
/* estilos de body */
.cuerpo-ux {
  background-color: #FDFDFD;
  font-family: 'Inter', sans-serif;
  color: #4D4F51; }

/*navegación*/
.navegacion {
  background-color: #fff;
  font-size: 1rem;
  color: #4D4F51;
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.25);
  position: fixed;
  width: 100vw;
  height: 4rem;
  left: 0;
  top: 0;
  z-index: 999; }
  .navegacion h3 {
    font-size: 1.5rem; }
  .navegacion #navbarNavAltMarkup {
    background-color: #fff; }

/*estilos de hero*/
.hero-texto {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 11rem;
  padding-bottom: 5rem;
  background-image: radial-gradient(at 45% 16%, #ffd0c2 0px, transparent 50%), radial-gradient(at 9% 96%, #b4eff4 0px, transparent 50%), radial-gradient(at 0% 50%, #ffdbde 0px, transparent 50%), radial-gradient(at 98% 58%, #f3c9db 0px, transparent 50%);
  background-size: cover; }
  .hero-texto h1 {
    font-size: 2rem;
    font-weight: 900; }
    .hero-texto h1 span {
      display: block; }
  .hero-texto h2 {
    font-size: 1.2rem;
    font-weight: 300; }
    .hero-texto h2 span {
      display: block; }
  .hero-texto .btn {
    display: flex;
    border-radius: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #fff;
    background-image: radial-gradient(at 45% 16%, #ffd0c2 0px, transparent 50%), radial-gradient(at 9% 96%, #b4eff4 0px, transparent 50%), radial-gradient(at 0% 50%, #ffdbde 0px, transparent 50%), radial-gradient(at 98% 58%, #f3c9db 0px, transparent 50%);
    margin: 0; }
    .hero-texto .btn a {
      text-align: center;
      text-decoration: none; }
  .hero-texto .ux-hero {
    display: none; }

/* estilo de Mikan*/
.proyectos-ux {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F8E882;
  border-radius: .8rem;
  margin: 2rem;
  padding: 3rem; }
  .proyectos-ux .img-ux-mikan {
    width: 90%;
    margin-bottom: 2rem; }
  .proyectos-ux h2 {
    font-size: 1.2rem;
    font-weight: 500; }
    .proyectos-ux h2 span {
      display: block;
      margin-top: 1rem; }
  .proyectos-ux p {
    font-size: 1rem;
    font-weight: 200; }
  .proyectos-ux .logos-ux {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 3rem;
    margin: 2rem;
    height: 3rem;
    width: auto; }

/*estilos del footer*/
.pie-ux {
  background-color: antiquewhite;
  height: 10rem;
  display: flex;
  flex-direction: row; }
  .pie-ux p {
    font-size: 1rem;
    font-weight: bolder;
    text-align: start;
    margin: 2rem 3rem;
    padding-left: 1rem;
    padding-top: 3rem; }
    .pie-ux p span {
      display: block; }
  .pie-ux .li {
    max-width: 3rem;
    max-height: 3rem;
    position: relative;
    top: 5rem;
    padding: 0.5rem; }
  .pie-ux .fb {
    max-width: 3rem;
    max-height: 3rem;
    position: relative;
    top: 5rem;
    padding: 0.5rem; }

/*Estilos para página de UX versión web*/
/*Estilos de hero*/
@media (min-width: 700px) {
  .hero-texto {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 1.5fr 0.5fr 0.4fr;
    grid-template-areas: "h1 ux-hero" "h2 ux-hero" "btn ux-hero";
    row-gap: 0.5rem;
    justify-content: start;
    justify-items: center;
    background-image: none;
    margin: 0.5rem 6rem 1rem 6rem; }
    .hero-texto h1 {
      grid-area: h1;
      font-size: 5rem;
      text-align: start;
      justify-self: flex-start; }
    .hero-texto h2 {
      grid-area: h2;
      font-size: 1.5rem;
      font-weight: 300;
      text-align: start;
      align-self: flex-start;
      justify-self: flex-start; }
    .hero-texto .ux-hero {
      grid-area: ux-hero;
      display: block;
      margin-top: 0.5rem; }
    .hero-texto .btn {
      grid-area: btn;
      justify-self: flex-start;
      align-self: flex-start; }
      .hero-texto .btn a {
        font-size: 1.125rem; }
  /* estilos de proyecto mikan */
  .proyectos-ux {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 0.5fr 0.5fr 0.4fr;
    grid-template-areas: "img-ux-mikan introduccion" "img-ux-mikan texto-web" "img-ux-mikan logos-ux";
    row-gap: 0.5rem; }
    .proyectos-ux .img-ux-mikan {
      grid-area: img-ux-mikan; }
    .proyectos-ux .introduccion {
      grid-area: introduccion;
      font-size: 1.5rem;
      font-weight: 500;
      align-self: flex-end; }
    .proyectos-ux .texto-web {
      grid-area: texto-web;
      font-size: 1.125rem; }
    .proyectos-ux .logos-ux {
      grid-area: logos-ux;
      margin-left: 0; } }

/*estilos de página contáctame*/
/* estilos de body */
.cuerpo-ux {
  background-color: #FDFDFD;
  font-family: 'Inter', sans-serif;
  color: #4D4F51; }

/*navegación*/
.navegacion {
  background-color: #fff;
  font-size: 1rem;
  color: #4D4F51;
  box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.25);
  position: fixed;
  width: 100vw;
  height: 4rem;
  left: 0;
  top: 0;
  z-index: 999; }
  .navegacion h3 {
    font-size: 1.5rem; }
  .navegacion #navbarNavAltMarkup {
    background-color: #fff; }

/*hero contacto*/
.hero-contacto {
  display: flex;
  flex-direction: center;
  align-items: center;
  background-image: radial-gradient(at 45% 16%, #ffd0c2 0px, transparent 50%), radial-gradient(at 9% 96%, #b4eff4 0px, transparent 50%), radial-gradient(at 0% 50%, #ffdbde 0px, transparent 50%), radial-gradient(at 98% 58%, #f3c9db 0px, transparent 50%);
  padding: 10rem 5rem 3rem 5rem;
  margin: 1rem;
  border-radius: 1rem; }
  .hero-contacto h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center; }
  .hero-contacto h2 {
    font-size: 1.2rem;
    font-weight: 500; }
    .hero-contacto h2 span {
      display: block; }
  .hero-contacto p {
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
    display: block; }

/*acordeon*/
.trayectoria {
  background-color: #F9F9FF;
  font-size: 1rem;
  font-weight: 300;
  margin: 2rem 1rem 2rem 1rem;
  border-radius: 0.5rem; }
  .trayectoria h2 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1.5rem; }
  .trayectoria .accordion-button {
    background-color: #F8E882;
    border-style: none;
    border-radius: 0.2rem; }

/*carrusel*/
#primercarrusel {
  margin-top: 2rem;
  width: 25rem; }
