/*estilos de página contáctame*/
/* estilos de body */


.cuerpo-contacto{
    background-color: #FDFDFD;
    color: #4D4F51;
}
/*navegación*/
.navegacion{
    @include b-navegacion;
}
/*hero contacto*/
.hero-contacto{
    display: flex;
    flex-direction: center;
    align-items: center;
    background-image: $color-degradado;
    padding: 10rem 5rem 3rem 5rem;
    margin: 1rem;
    border-radius: 1rem;
    h1{
        font-size: $titulo;
        font-weight: bold;
        text-align: center;
    }
    h2{
        font-size: $subtitulo;
        font-weight: 500;
        span{
            display: block;
        }
    }
    p{
        font-size: $texto;
        font-weight: 200;
        text-align: center;
        display: block;
    }
    img{
        margin-top: 2rem;
        width: 20rem;
    }
}
/*acordeon*/
.trayectoria{
    
    font-size: $texto;
    font-weight: 300;
    margin: 2rem 1rem 2rem 1rem;
    border-radius: 0.5rem;
    
    h2{
        font-size: $subtitulo;
        font-weight: 500;
        margin: 1.5rem;
    }
    .accordion-button{
        background-color: $color-principal;
        border-style: none;
        border-radius: 0.2rem;
    }
    }
/*cards*/

.proyectos{
    display: flex;
    flex-direction: column;
    background-color: #ECEAFD;
    padding: 5rem 10rem 5rem 10rem;
    h2{
        font-size: $subtitulo;
        font-weight: 500;
        display: block;
    }
    .card-group{
        column-gap: 1rem;
        .card{
            border: none;
        }
        .card:hover{
            box-shadow: 4px 4px 24px rgba(102, 84, 141, 0.25);
        }
    }
    
    
}

@media (min-width: 700px){
    /* estilos nuevos de pagina de contacto*/
    .hero-contacto{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        grid-template-rows: 0.5fr 0.2fr 0.3fr ;
        grid-template-areas: 
        "h1 img"
        "h2 img"
        "p img";
        row-gap:0.5rem;
        margin: 6rem 3rem 3rem 3rem;
        padding: 8rem 7rem 1rem 7rem;
        h1{
            grid-area: h1;
            justify-self: flex-start;
            font-size: $titulo-web;
            font-weight: 900;
            text-align: start;
            
        }
        h2{
            grid-area: h2;
            font-size: $subtitulo-web;
            font-weight: 500;
            justify-content: flex-start;
            align-self: flex-start;
            
        }
        p{
            grid-area: p;
            font-size: $texto-web;
            align-self: flex-start;
            justify-self: flex-start;
            align-self: flex-start;
            
            
        }
        img{
            grid-area: img;
            width: 25rem;
            align-self: center;
            justify-self: flex-start;
            height: 26rem;
            width: auto;    
        }
        }
        .trayectoria{
            display: grid;
            grid-template-columns: repeat(2,2fr);
            grid-template-rows: 0.5fr 1fr;
            grid-template-areas: 
             "h2 lottie-player"
             "accordion lottie-player";
            row-gap:0.5rem;
            column-gap: 3.5rem;
            margin: 2rem 10rem 3rem 10rem;
            h2{
                grid-area: h2;
                font-size: $subtitulo-web;
                font-weight: 900;
                align-self: flex-start;
                margin: auto; 
            }
            .accordion{
                grid-area: accordion;
            
            }
            lottie-player{
                grid-area: lottie-player;
                width: 30rem;
                justify-self: center;

                
            }
        }
        .proyectos{
            h2{
                display: inline;
                font-size: $subtitulo-web;
                font-weight: 500;
            }
            #card1, #card2, #card3{
                border-radius: 1rem;
                background-color: rgb(251, 243, 233);
                color: #4D4F51;
            }
        }
        /*footer home*/
        .pie{
            height: 15rem;
            width: 100vw;
            p{
                font-size: $texto-web;
                margin: 3rem 4rem;
                padding-left: 2rem;
            }
            img{
                max-width: 5rem;
                max-height: 5rem;
                position: relative;
                top: 7rem;
                left: 40rem;
            }   
        }
        
        
        
        

    }  
