/* media queris */

@media (min-width: 700px){
    /* estilos nuevos del main*/

    main{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        grid-template-rows: 1.5fr 0.5fr 0.4fr ;
        grid-template-areas: 
        "h1 imagen-hero"
        "h2 imagen-hero"
        "btn imagen-hero";
        justify-content: flex-start;
        justify-items: flex-start;
        h1{
            grid-area: h1;
            font-size: $titulo-web;
            text-align: start; 
            margin-left: 0;
        }
        .imagen-hero{
            grid-area: imagen-hero;
            display: inline;
        }
        h2{
            grid-area: h2;
            margin-left: 0;
            font-size: $subtitulo-web;
            text-align: start;
        }   
        .btn{
            grid-area: btn;
            align-items: auto;
        

            a{
                font-size: $texto-web;
            }
        }

        .imagen-hero-mobil{
            display:none;
        }

    }
    /*Sección de proyectos*/
    section{
        display: flex;
        flex-flow: row nowrap;
        justify-content: end;
        align-items: stretch;
        gap: 1.6rem;
        margin-top: 1rem;
        margin-right: 1.4rem;
        .uxui{
            @include cards-home;
            .uxui-titulo{
                font-size: $subtitulo-web;
                font-weight: 300;
            }
            .mobile-uxui{
                height: min-content;
                padding: 0;
            }
            
        }
        .web{
            @include cards-home;
            .web-titulo{
                font-size: $subtitulo-web;
                font-weight: 300;
                padding-bottom: 2rem;
                .mobile-web{
                    height: 35rem;
                    padding: 0;
                }
            }
        }
        .branding{
            @include cards-home;
            .branding-titulo{
                font-size: $subtitulo-web;
                font-weight: 300;
                .mobile-branding{
                    height: 20rem;
                }
            }
        }  
        }
        /*footer home*/
        .pie{
            height: 15rem;
            width: 100vw;
            p{
                font-size: $texto-web;
                margin: 3rem 4rem;
                padding-left: 2rem;
            }
            img{
                max-width: 5rem;
                max-height: 5rem;
                position: relative;
                top: 7rem;
                left: 40rem;
            }   
        }
        
    }

    /*Estilos para página de UX versión web*/
        /*Estilos de hero*/

        @media (min-width: 700px){

            .cuerpo-ux{
                background-color: rgb(0, 220, 220);
                color: aqua;
            }

            section{
                display: grid;
                grid-template-columns: repeat(2,2fr);
                grid-template-rows: 0.5fr 0.5fr 0.4fr ;
                grid-template-areas: 
                "h1 imagen-ux-hero"
                "h2 imagen-ux-hero"
                "btn imagen-ux-hero";
                justify-content: flex-start;
                justify-items: flex-start;
                h1{
                   grid-area:h1;
                }
                h2{
                   grid-area:h2;
                }
                .img-ux-hero{
                   grid-area:img-ux-hero;
                }
                .btn{
                   grid-area:btn;
                }

        }
}