// cards proyectos versión web

@mixin cards-home{
    display: flex;
      flex-direction: column;
      justify-content: end;
      height: 15.5rem;
      width: 20rem;
}

@mixin pie-movil{
        background-color: antiquewhite;
        height: 10rem;
        display: flex;
        flex-direction: row;
        p{
            font-size: $texto;
            font-weight: bolder;
            text-align: start;
            margin: 2rem 3rem ;
            padding-left: 1rem;
            padding-top: 3rem;
            span{
                display: block;
            }
         }
         img{
            max-width: 3rem;
            max-height: 3rem;
            position: relative;
            top: 5rem;
            padding: 0.5rem;
         }   
         
}