/*estilos de página UX-UI*/
/* estilos de body */

.cuerpo{
    background-color: #FDFDFD;
    font-family: 'Inter', sans-serif;
    color: #4D4F51;
}
/*navegación*/
.navegacion{
    @include b-navegacion;
}
/*estilos de hero*/
.hero-texto{
    display:flex ;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 11rem;
    padding-bottom: 5rem;
    background-image: $color-degradado;
    background-size: cover;
    article{
        display: flex;
        flex-direction: column;
        align-items:center;
        h1{
            font-size: $titulo;
            font-weight: 900;
            span{
                display: block;
            }
        }
        h2{
            font-size: $subtitulo;
            font-weight: 300;
            span{
                display: block;
            }
        }
        .btn{
            display: flex;
            border-radius: 2rem;
            padding: 0.5rem 1rem 0.5rem 1rem;
            background-color: #fff;
            background-image: $color-degradado;
            margin: 0;
            a{
                text-align: center;
                text-decoration: none;
            }
        }
        .img-ux-hero{
            display: none;
        }
        }
    
    
    
}
/* estilo de Mikan*/

.proyectos-ux{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-principal;
    border-radius: .8rem;
    margin: 2rem;
    padding: 3rem;
    .img-ux-mikan{
        width: 90%;
        margin-bottom: 2rem;
    }
    h2{
        font-size: $subtitulo;
        font-weight: 500;
        span{
            display: block;
            margin-top: 1rem;
        }  
    }
    p{
        font-size: $texto;
        font-weight: 200;
    }
    .logos-ux{
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        gap: 3rem;
        margin: 2rem;
        height: 3rem;
        width: auto;
        }
    }

/*estilos del footer*/
.pie-ux{
    background-color: antiquewhite;
        height: 10rem;
        display: flex;
        flex-direction: row;
        p{
            font-size: $texto;
            font-weight: bolder;
            text-align: start;
            margin: 2rem 3rem ;
            padding-left: 1rem;
            padding-top: 3rem;
            span{
                display: block;
            }
         }
         img{
            max-width: 3rem;
            max-height: 3rem;
            position: relative;
            top: 5rem;
            padding: 0.5rem;
         }   
}


