//colores

$color-principal: #F8E882;
$color-degradado: 
    radial-gradient(at 45% 16%, hsla(14,100%,88%,1) 0px, transparent 50%),
    radial-gradient(at 9% 96%, hsla(184,74%,83%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
    radial-gradient(at 98% 58%, hsla(334,64%,87%,1) 0px, transparent 50%);

$titulo: 2rem;
$subtitulo: 1rem;
$texto:0.75rem;

$titulo-web: 5rem;
$subtitulo-web: 1.5rem;
$texto-web: 1.125rem;





